
.css-1g4jxam {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200vh;
    width: 100%;
    height: 100vh; 
    background-image: url('../../../public/Img/hoja_cuaderno.png');
    background-size: 100% 100%; 
    
    background-repeat: no-repeat;
  }
  .css-1jtxts2 {
 
    margin-top: 5vh;
  }
  button {
   
    margin: 5px;
  }

  